<style>
    th, td {
        padding: 10px;
    }
    th {
        text-align: left;
    }
</style>

<h1>All Categories</h1>

{% if category is not empty %}
    <table>
        <thead>
        <tr>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        {% for cat in category %}
            <tr>
                <td>{{ cat.title }}</td>
                <td><a href="/admin/category/delete/{{ cat.id }}">Delete Category</a></td>
                <td><a href="/admin/category/update/{{ cat.id }}">Update Category</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No categories found.</p>
{% endif %}

<br/>
<a href="/admin/category/create">Create New Category</a>